HOST=http://localhost:5555
SERVER_PORT=5555
DATABASE_PORT=27017
DATABASE_URI=mongodb://localhost:27017/db
JWT_EXPIRES_IN=24h
JWTR_EXPIRES_IN=14d
K_PASSPORT_JWT_SIGN_SECRET=change-me-access-token-secret
K_PASSPORT_JWTR_SIGN_SECRET=change-me-refresh-token-secret
K_PASSPORT_MAIL_SERVICE_PASS=
SUPER_ADMIN_PASS=change-me-super-admin-password
ALLOWED_HOST=http://localhost:3002
MAIL_SERVICE_TRANSPORT=k.passport.service@gmail.com
CODES_EXPIRED_TIMEOUT_IN_MINUTES=15
CODES_RESEND_INTERVAL_IN_MINUTES=1
FRONTEND_HOST=http://localhost:3002
