<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Email confirmed</title>
  </head>
  <body>
    <h1>Email confirmed</h1>
    <button id="redirect-button">Go to app</button>
    <script>
      document.getElementById("redirect-button").addEventListener("click", () => {
        const link = '{{ redirectTo }}'
        window.location.href = link
      })
    </script>
  </body>
  <style>
    html {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      height: 100vh;
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
    button {
      cursor: pointer;
    }
  </style>
</html>
